---
title: NAFO
layout: page
permalink: /nafo.html
---
{% include feature/blockquote.html quote="The NAFO Collection and Related Articles" centered=true %}

The North Atlantic Fella Organization uses satirical humour to raise awareness 
and funds for Ukraine. To find out more about it, you can find the organization's 
website <a href="https://nafo-ofan.org/en-ca">here.

{% include feature/card.html text="Get your own Fella!" header="North Atlantic Fellas Organization" objectid="hc_c_a_001" width="25" centered=true %}


{% include feature/image.html objectid="hc_c_a_001;hc_c_a_002;hc_c_a_003" %}



{% include feature/button.html text="Return to Homepage" link="/" color="success" centered=true %}