---
title: New
layout: page
permalink: /new.html
---
{% include feature/blockquote.html quote="The Newest Objects in the Heroic Archives Collection" centered=true %}

{% include feature/button.html text="Browse by Subject" link="/subjects.html" color="success" centered=true %}


{% include feature/image.html objectid="hc_access_001;hc_access_002;hc_access_003" %}
{% include feature/image.html objectid="hc_access_004;hc_access_005;hc_access_006" %}
{% include feature/image.html objectid="hc_access_007;hc_access_008;hc_access_009" %}
{% include feature/image.html objectid="hc_access_010;hc_access_011;hc_access_012" %}