---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">
      
      <div class="col-md-8">
  
          <h1>Comedy Against Authority Archives</h1>

          <p>Comedy Against Authority was coined by Dr. Diana Solomon and Dr. Sean Zwagerman. This digital archive features social media content that uses comedy as a way to fight against societal and political authority, to shed light on the importance of comedy as an anti-authoritarian tool in contemporary society.</p>
  
      </div>
  
      <div class="col-md-4 p-3">
          <div class="border rounded p-4 bg-light">
              
              <div class="card mb-4">
                  <div class="card-body text-center p-5" style="background-image: url(https://cdn.bsky.app/img/feed_thumbnail/plain/did:plc:2np67i2zezp4b2vagv2kxa3z/bafkreidfqytapr6t5q62yl76b5ptzywuc6tdrsjcwploxrtivfzteelpm4@jpeg); background-size: cover;background-position: center;">
                      <a href="{{'/nafo.html'}}" class="h3 stretched-link text-white">North Atlantic Fellas<br>Organization</a>
                  </div>
              </div>
              
              <div class="card mb-4">
                  <div class="card-body text-center p-5" style="background-image: url(https://cdn.bsky.app/img/feed_fullsize/plain/did:plc:eytjgvljjmwr6rxhzghgqe4z/bafkreiaqrchhof3i6hehfuvczxepvesbzjkqzgsptmw3j7usrves7lhyj4@jpeg); background-size: cover;background-position: center;">
                      <a href="{{'/rexvrex.html'}}" class="h3 stretched-link text-white">Rechts Gegen<br>Rechts</a>
                  </div>
              </div>
  
          </div>
      </div>
  
  </div>

  
  
  
  <div class="col-md-8">

    {% include index/carousel.html title="Sample Items" %}
    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" max=20 %}
    
  </div>

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>