---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

    {% include index/carousel.html title="From the Archives" %}
      
      <div class="col-md-8">
  
          <h1>What is Comedy Against Authority?</h1>

          <p>Comedy has long been used as an escape during times of social hardship and political unrest. However, comedy has also been a tool in the fight against authoritarianism (or anti-democratic systems), and against the oppression of minoritized groups and individuals. This digital archive features social media content that uses comedy to fight against societal and political authority, shedding light on the importance of comedy as an anti-authoritarian tool.</p>
            
            <h1>North Atlantic Fellas Organization</h1>
            
            <p>The North Atlantic Fellas Organization (NAFO) is an online community dedicated to helping fund Ukraine in their fight against Russian invasion. The community holds frequent fundraisers over platforms such as X and Bluesky, including “Toonie Tuesdays” when community members are encouraged to buy a coffee. NAFO Membership is $5, which covers the cost of the member’s “Fella” - a photoshopped image of a corgi matched to your specifications (i.e. the member can choose a particular theme, specific clothing, backgrounds, accessories, and other options to be part of their “Fella”). NAFO fellas use humour as a way of trolling pro-Russian and anti-Ukraine social media users, and particularly to troll Vladimir Putin and his political allies, with the goal of combatting disinformation at its source.</p>
            
            <h1>Rechts Gegen Rechts [Right Against Right]</h1>
            
            <p>The Rechts Gegen Rechts movement resists far-right groups in Germany by remaking their activities into fundraisers for anti-extremist charities. They began by converting neo-Nazi marches into involuntary walkathons, decorating the environment to look like a race and raising donations based on how far each participant walks. More recently, they have started monitoring speech on social media and purchases of neo-Nazi dog whistles, both of which similarly result in donations. They support charities like EXIT Deutschland, which helps people escape extremist groups. Rechts Gegen Rechts’ use of pranks to undermine the neo-Nazi agenda shows the value of comedy as a tool against authoritarian regimes.</p>
  
      </div>
  
      <div class="col-md-4 p-3">
          <div class="border rounded p-4 bg-light">
            <div class="card mb-4">
                <div class="card-body text-center p-5" style="background-image: url(http://sdulicny.github.io/heroic-comedy-csv/objects/small/collection-image_sm.jpg); background-size: cover;background-position: center;">
                    <a href="{{'https://sdulicny.github.io/heroic-comedy-csv/browse.html'}}" class="h3 stretched-link text-white">Browse Full<br>Collection</a>
                </div>
            </div>

              <div class="card mb-4">
                  <div class="card-body text-center p-5" style="background-image: url(http://sdulicny.github.io/heroic-comedy-csv/objects/hc_c_a_017.jpg); background-size: cover;background-position: center;">
                      <a href="{{'https://sdulicny.github.io/heroic-comedy-csv/nafo.html'}}" class="h3 stretched-link text-white">North Atlantic Fellas<br>Organization</a>
                  </div>
              </div>
              
              <div class="card mb-4">
                  <div class="card-body text-center p-5" style="background-image: url(http://sdulicny.github.io/heroic-comedy-csv/objects/hc_access_028.jpg); background-size: cover;background-position: center;">
                      <a href="{{'https://sdulicny.github.io/heroic-comedy-csv/rexvrex.html'}}" class="h3 stretched-link text-white">Rechts Gegen<br>Rechts</a>
                  </div>
              </div>
  
          </div>
      </div>
  
  </div>

  
  
  
  <div class="col-md-8">

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" max=20 %}
    
  </div>

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>